.un-id {
    background-color: #238d8d;
    color: #ffffff;
}

.hobie-class {
    background-color: #cf3ae5;
    color: #218989;
}

.image {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}


.image img {
    width: 500px;
    object-fit: contain;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 32px 0;
}
